body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #474747;
  color: white;
}

.App {
  width: 90%;
  margin: 20px auto;
  max-width: 700px;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.workout-list {
  margin: 20px;
}

.workout-list ul {
  padding: 0;
  list-style-type: none;
}

.workout-list li {
  background: #666666;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  transition: background 0.2s ease-in-out;
}

.workout-list li:hover {
  opacity: 0.7;
  background: rgb(0, 209, 105);
}

.workout-list .title {
  font-weight: bold;
  color: #eee;
  font-size: 1.2em;
}

.workout-list .desc {
  margin: 20px;
  color: #eee;
}
.workout-list .checked {
  background-color: rgb(0, 209, 105);
}

.workout-list .done {
  width: 50%;
}

.workout-list .remove {
  width: 50%;
}

.workout-list .container {
  display: flex;
  justify-content: space-around;
}

input[type='text'] {
  border: 0;
  border-bottom: 3px solid gray;
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  color: white;
  background-color: transparent;
  outline: 0;
  box-sizing: border-box;
}

input[type='submit'] {
  margin: 10px auto;
  background: #eee;
  transition: background 0.2s ease-in-out;
  border: 0;
  padding: 6px 20px;
  display: block;
}

input[type='submit']:hover {
  opacity: 0.7;
  background: rgb(0, 209, 105);
}
